* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    width:100%; 
    padding: 5rem 2rem;
    background: rgb(216, 227, 255);
    background: linear-gradient(130deg, rgba(216, 227, 255, 0.7595238779105392) 29%, rgba(255, 220, 220, 0.6894958667060574) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
  
  @media (max-width: 40rem) {
    header {
      flex-direction: column;
    }
  }
  
  header img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 3px solid black;
  }
  
  main {
    max-width: 40rem;
  }
  
  /* Add styles for the navigation */
nav {
  text-align: center;
  margin-top: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff;
}

