@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body{
  margin: 0px;
  padding: 0px;
  font-family: "Asap", sans-serif;
  background: #222;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/*Navigation*/
nav{
  top: 0;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: #222;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
}
.logo a{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 2rem;
}
.menu{
  display: flex;
}
.menu a{
  height: 40px;
  margin: 10px;
  line-height: 43px;
  padding: 0 40px;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.menu a:hover{
  color: #fff;
  background-color: #333;
  box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
              inset 0px 4px 8px rgba(0,255,255,0.3), 
              inset 0px 8px 16px rgba(0,255,255,0.3);
  transition: 0.2s;
  transform: translateY(2px);
}
/*Home*/
#main {
  width: 100%;
  height: 100vh;
}
.main-text{
  position: absolute;
  left: 25%;
  top: 40%;
  transform: translate(-13%,-42%);
  color: #fff;
}
.main-text h1{
  font-size: 3.5rem;
}
.main-text p{
  font-size: 2.5rem;
  margin: 25px 0px 25px;
}
/*Services*/
#services{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}
.title{
  width: 100%;
  text-align: center;
}
.title p{
  color: #fff;
}
.title h2{
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 1.3em;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.content h2{
  color: #fff;
}
.service-box {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
  background-color: #222;
  margin-top: 3.5em;

}
.service-box:hover{
  box-shadow: 0px 2px 4px rgba(0,255,255,0.7), 
              0px 4px 8px rgba(0,255,255,0.7), 
              0px 8px 16px rgba(0,255,255,0.7), 
              0px 12px 24px rgba(0,255,255,0.7);
  transform: translateY(-10px);
  transition: 0.2s;
}
.service-box p {
  text-align: center;
  width: 230px;
  margin: 0px 0px 20px 0px;
  color: #fff;
}
/*Contact*/
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
}
.form{
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}
.row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.row2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.row input, .row2 textarea{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  background: #0f0f0f;
  font-size: 15px;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
  border-radius: 5px;
  font-family: 'Asap';
}
.row2 textarea{
  resize: none;
  height: 200px;
}
.row2 input[type='submit']{
  height: 40px;
  margin: 10px;
  width: 150px;
  line-height: 43px;
  padding: 0 40px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #000;
  border-radius: 5px;
  border: none;
  font-family: 'Asap';
}
.row2 input[type='submit']:hover{
  color: #fff;
  background-color: #222;
  box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
              inset 0px 4px 8px rgba(0,255,255,0.3), 
              inset 0px 8px 16px rgba(0,255,255,0.3);
  transition: 0.2s;
  transform: translateY(2px);
}
/* Add this style for the language dropdown */
/* Add this style for the language dropdown */
.lang-dropdown {
  position: relative;
  display: inline-block;
}

.lang-dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 255, 255, 0.5);
  z-index: 1;
}

.lang-dropdown-content a {
  color: #fff;
  padding: 0px 16px;
  display: block;
  text-decoration: none;
}

.lang-dropdown:hover .lang-dropdown-content {
  display: block;
}


.img-circle {
  border-radius: 50%;
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  object-fit: cover;
  box-shadow: 0px 1px 2px rgba(0, 255, 255, 0.5),
              0px 2px 4px rgba(0, 255, 255, 0.5),
              0px 4px 8px rgba(0, 255, 255, 0.5),
              0px 8px 16px rgba(0, 255, 255, 0.5);
  border: 5px solid #000; /* Adjust the thickness and color as needed */
}

/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0px -1px 2px rgba(0, 255, 255, 0.5),
              0px -2px 4px rgba(0, 255, 255, 0.5),
              0px -4px 8px rgba(0, 255, 255, 0.5),
              0px -8px 16px rgba(0, 255, 255, 0.5);
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the buttons */
    margin-top: 2em;
  }
  
  /* Style for the button */
  .but {
    flex-basis: calc(48% - 10px); /* Each button takes up 48% of the container width with a small gap */
    margin-bottom: 20px; /* Adjust the margin as needed */
    padding: 40px 30px; /* Increase the padding for a larger button */
    background-color: #050801;
    color: #03e9f4;
    font-weight: bold;
    border: none;
    border-radius: 10px; /* Increase the border-radius for a rounded appearance */
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
  }
  
  /* Hover effect for the button */
  .but:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  .but a {
    color: white;
  }
  
  /* Media Query for small screens (phones) */
  @media only screen and (max-width: 768px) {
    .but {
      flex-basis: 100%; /* Each button takes up 100% of the container width on smaller screens */
    }
  }
  